body {
    padding: 30px 24px 24px 24px;
    font: 16px Helvetica, Arial, sans-serif, "Lucida Grande", "微软雅黑", "黑体";
    font-family: f;
}

@font-face {
    font-family: f;
    src: local("微软雅黑");
    unicode-range: U+41-5A, U+61-7A, U+C0-FF, 4 E00-9FBF;
}

@font-face {
    font-family: f;
    src: local("Lucida Grande"), local(Helvetica), local(Arial), local(sans-serif);
}

.dbd {
    padding: 0 24px 0 24px;
    font-size: 14px;
    opacity: 0.9;
    line-height: 50px;
    background-color: rgba(255, 255, 255, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 98;
    border-left: solid seagreen 0px;
    -webkit-transition: border-left 150ms, padding 150ms;
    transition: border-left 150ms, padding 150ms;
}

.dbd:hover {
    border-left: solid seagreen 4px;
    padding: 0 24px 0 20px;
}

.dbd a {
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: 0 0 4px rgba(9, 158, 255, 0.20), 0 0 10px rgba(255, 255, 255, 1),
    1px -1px 10px rgba(255, 255, 255, 0.9), -1px 1px 10px rgba(255, 255, 255, 0.9),
    1px 1px 10px rgba(255, 255, 255, 0.9), -1px -1px 10px rgba(255, 255, 255, 0.9);
}

.sucrf {
    /* top right bottom left */
    margin: 15px auto 15px auto;
    text-align: center;
    padding: 0 8px 0 8px;
    color: #ffffff;
    background-color: #9ed35f;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.55);
    line-height: 50px;
}

.sucrf_undo {
    color: #ffffff;
    text-decoration: underline;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.20);
}

.sucrf_undo:hover {
    color: #efefef;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.sucrf_close {
    float: right;
    text-align: right;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAAsTAAALEwEAmpwYAAABE0lEQVQYGQEIAff+AAAAAG3///8A////AP///wD///8A////AP///wAAAABtAP///wAAAABt////AP///wD///8A////AAAAAG3///8AAP///wD///8AAAAAbf///wD///8AAAAAbf///wD///8AAf///wAAAAAAAAAAAAEBAW0AAAAA////kwAAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP///wD///8AAAAAbf///wD///8AAAAAbf///wD///8AAP///wAAAABt////AP///wD///8A////AAAAAG3///8AAAAAAG3///8A////AP///wD///8A////AP///wAAAABtc853sSVIFSEAAAAASUVORK5CYII=");
    width: 12px;
    overflow: hidden;
    padding: 8px 4px 8px 8px;
    height: 12px;
    background-position: center;
    background-size: 8px 8px;
    background-repeat: no-repeat;
    opacity: 0;
    display: none;
}