body {
    padding: 30px 24px 24px 24px;
    font: 16px Helvetica, Arial, sans-serif, "Lucida Grande", "微软雅黑", "黑体";
    font-family: f;
}

@font-face {
    font-family: f;
    src: local("微软雅黑");
    unicode-range: U+41-5A, U+61-7A, U+C0-FF, 4 E00-9FBF;
}

@font-face {
    font-family: f;
    src: local("Lucida Grande"), local(Helvetica), local(Arial), local(sans-serif);
}

@font-face {
    font-family: 'iconfont';
    src: url('https://at.alicdn.com/t/font_1414324664_8517036.eot'); /* IE9*/
    src: url('https://at.alicdn.com/t/font_1414324664_8517036.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('https://at.alicdn.com/t/font_1414324664_8517036.woff') format('woff'), /* chrome、firefox */
    url('https://at.alicdn.com/t/font_1414324664_8517036.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('https://at.alicdn.com/t/font_1414324664_8517036.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.icof {
    font-family: iconfont;
}

.dbd {
    padding: 0 24px 0 24px;
    font-size: 14px;
    opacity: 0.9;
    line-height: 50px;
    background-color: rgba(255, 255, 255, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 98;
    border-left: solid seagreen 0px;
    -webkit-transition: border-left 150ms, padding 150ms;
    transition: border-left 150ms, padding 150ms;
}

.dbd:hover {
    border-left: solid seagreen 4px;
    padding: 0 24px 0 20px;
}

.dbd a {
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: 0 0 4px rgba(9, 158, 255, 0.20), 0 0 10px rgba(255, 255, 255, 1),
    1px -1px 10px rgba(255, 255, 255, 0.9), -1px 1px 10px rgba(255, 255, 255, 0.9),
    1px 1px 10px rgba(255, 255, 255, 0.9), -1px -1px 10px rgba(255, 255, 255, 0.9);
}

.sucrf {
    margin: 15px auto 15px auto;
    text-align: center;
    padding: 0 8px 0 8px;
    color: #ffffff;
    background-color: #9ed35f;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.55);
    line-height: 50px;
}

.sucrf_undo {
    color: #ffffff;
    text-decoration: underline;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.20);
}

.sucrf_undo:hover {
    color: #efefef;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.sucrf_close {
    float: right;
    text-align: right;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAAsTAAALEwEAmpwYAAABE0lEQVQYGQEIAff+AAAAAG3///8A////AP///wD///8A////AP///wAAAABtAP///wAAAABt////AP///wD///8A////AAAAAG3///8AAP///wD///8AAAAAbf///wD///8AAAAAbf///wD///8AAf///wAAAAAAAAAAAAEBAW0AAAAA////kwAAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP///wD///8AAAAAbf///wD///8AAAAAbf///wD///8AAP///wAAAABt////AP///wD///8A////AAAAAG3///8AAAAAAG3///8A////AP///wD///8A////AP///wAAAABtc853sSVIFSEAAAAASUVORK5CYII=");
    width: 12px;
    overflow: hidden;
    padding: 8px 4px 8px 8px;
    height: 12px;
    background-position: center;
    background-size: 8px 8px;
    background-repeat: no-repeat;
    opacity: 0;
    display: none;
}

.sexbulr {
    color: cornflowerblue;
}
.sexgulr {
    color: #ed627e;
}
.sexxulr {
    color: #94ed41;
}

.alertboxusr {
    position: absolute;
    min-width: 180px;
    background-color: #2f2f2f;
    border: #ffffff solid 1px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.60);
    padding: 0;
    color: #ffffff;
    font-size: 14px;
    z-index: 998;
}
.alertboxusr ul {
    padding: 0;
    margin: 0;
}
.alertboxusr li {
    list-style-type: none;
    display: block;
    padding: 6px;
    line-height: 120%;
    cursor: default;
    margin: 0;
    transition: 200ms background-color;
    -webkit-transition: 200ms background-color;
}
.alertboxusr li:hover {
    background-color: rgba(255, 255, 255, 0.10);
}
.alewalt {
    line-height: 50px;
    text-align: center;
    cursor: default;
}