/Xiguayun/.idea
/Xiguayun/.idea/*
/Xiguayun/node_modules
/Xiguayun/node_modules/*
/Xiguayun/proj.sublime-project
/Xiguayun/proj.sublime-workspace
/.project
/php_errors.log
/.project
/.idea
/.idea/*
*~
