extends layout
block head
    link(rel="stylesheet",href="/s/l.css")
block content
    .lgrs-box
        input.mw-ui-input.lginusn(type="text",placeholder="用户名",name="username",value=usr)
        input.mw-ui-input.lginpwd(type="password",placeholder="密码",name="password")
        input.mw-ui-button.mw-ui-big.mw-ui-block.mw-ui-constructive.lginsbmit(type="submit",value="登录")