doctype html
html
    head
        script(src="https://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.3.min.js",type="text/javascript")
        script.
            $(function(){
                $.post("/register/doConfirm",{code: "#{parseInt(code)}", wisChk: "#{wisChk}"},function(q){
                    if(q.error){
                        window.location.assign("/register/2");
                    }else{
                        window.location.assign("/register/3");
                    }
                },'json');
            });
    body
        p 跳转中，请稍候。
