extends layother

block head
    link(rel="stylesheet",href="/s/e.css")
block content
    <!-- #{error.httpste} #{error.status} -->
    div(style="white-space: pre;")= error.stack
        div(style="color: #5f97cf") That’s all we know.
    .errstu= error.httpste
