extends layxgy
block head
    link(rel="stylesheet",href="/s/x.css")
    script(src="/j/dlj.js",type="text/javascript")
    meta(name="google-site-verification" content="6-cJHNtVNkiUjmtT3-YfyTbkLB6rLo4y1FXKLosoOss")
block content
    .indextpb
        h2.htit xgy.co
        .czz.
            xgy.co是Yoghourt的一个短链接服务。
    .czShortbox
        h2 缩短你的网址！
        .inlblock(style="width: 80%;")
            input.ipturl.xui-input-text(type="text",placeholder="://",autocomplete="false")
        .inlblock(style="width: 20%;")
            input.ipttiny.xui-input-text(type="text",placeholder="短链接（不输入自动生成）")
        .zs 不输入协议则默认http
        button.submit.xui-buttom 缩！