extends layout

block head
    link(rel="stylesheet",href="/s/i.css")
block content
    .indextpb
        h2.htit 推吧
        .czz 让人们总能聚到一起
        .rit 已有 #{tieAmount} 篇帖子
    .gbox(style="background-color: #d2d4dc;")
        h3 你知道吗
        br最新发布的社交平台是？
        br
        最新发布的社交平台是？
        br
        最新发布的社交平台是？