extends layout

block head
    link(rel="stylesheet",href="/s/i.css")
    - if(!lognUsn || lognUsn.length<1)
        link(rel="stylesheet",href="/s/iln.css")
    script(src="/j/idx.js",type="text/javascript")
block content
    - if(!lognUsn || lognUsn.length<1)
        .pbr
            .indextpb
                .lgb
                    | 您正在使用中文 - 您的浏览器语言浏览该页&nbsp;
                    a 切换语言
                    br
                    | You are visiting this page in Chinese - your browser language.&nbsp;
                    a Change language setting
                h2.pbtit 推吧
                .czz
                    | 帖子，微博
                    br
                    | 非新人，请
                    a(href="/login") 登录
                .rit 已有 #{tieAmount} 篇帖子
        .idber
        .xinqu
            input.xui-input-text(placeholder="搜索兴趣")
            h2.lite 汇集知音
            h3.lite 已有0个吧
            p.lite
                | 通过将推文分类到吧，实现
                code 看你喜欢的
        .speo
            input.xui-input-text(placeholder="搜索推文")
            h2.lite 可小可大
            p.lite
                | 推文没有140字的限制，可以吐槽可以写作。
        .sarp
            input.xui-input-text(placeholder="搜索人")
            h2.lite 完全自由
            p.lite
                | 无政治审查，本站不禁止任何政治偏向（若是大量群众反对遭到大量提删，根据本站程序可能会被删除）
        .sall
            input.xui-input-text(placeholder="搜索全部")
    - else
        .boxclc
            .gbox(style="width: 320px; height: 180px;")
                h2 开发状态
                ul
                    li Status=开发中
                    li Version=0.0.0.2
                    li LastGitCommit=0
