extends layout

block head
    link(rel="stylesheet",href="/s/i.css")
block content
    .indextpb
        h2.htit 推吧
        .czz 让人们总能聚到一起
        .rit 已有 #{tieAmount} 篇帖子
    .boxclc
        .gboxKnow.gbox
            h3 你知道吗
            .gbYkntm
                .gbYkntmC [
                a.redlink(href="/know/new") 提名
                .gbYkntmC ]
            .gbYouknow 最新发布的社交平台是？
                .gbYkncen aaabbbccc
            .gbYouknow 最新发布的社交平台是？
            .gbYouknow 最新发布的社交平台是？
            .gbYouknow 最新发布的社交平台是？
        .gboxTop.gbox
           h3 排行榜
        -for (var i=0;i<30;i++)
            .gboxEvent.gbox
                h3 当前正在发生……