extends layout

block head
    link(rel="stylesheet",href="/s/i.css")
block content
    .indextpb
        h2.htit 推吧
        .czz 帖子，微博
        .rit 已有 #{tieAmount} 篇帖子
    .boxclc
        .gbox
            h2 开发状态
            ul
                li Status=开发中
                li Version=0.0.0.2
                li LastGitCommit=0