extends layout

block head
    link(rel="stylesheet",href="/s/i.css")
block content
    - if(!lognUsn || lognUsn.length<1)
        .indextpb
            h2.htit 推吧
            .czz 帖子，微博
                p 登录或注册 查看更多精彩
            .rit 已有 #{tieAmount} 篇帖子
    .boxclc
        .gbox(style="width: 320px; height: 180px;")
            h2 开发状态
            ul
                li Status=开发中
                li Version=0.0.0.2
                li LastGitCommit=0
