extends layout
block head
    link(rel="stylesheet",href="/s/mb.css")
    script(src="/j/markbox.js",type="text/javascript")
    link(rel="stylesheet",href="/s/mdTest.css")
    script(src="/j/mdtry.js",type="text/javascript")
block content
    .m
        != mdc
    p 编辑 练习 或者测试您的Markdown语法
    .di