extends layout

block hct
    .sucrf
        | 信息已提交！请验证邮箱。欢迎您加入Yoghourt。
        a.sucrf_undo(href="javascript:void(0);") 撤销
        a.sucrf_close(href="javascript:void(0);") &nbsp;
block content
    p - regtaskid: #{regTask.id}