extends layxgy
block head
    link(rel="stylesheet",href="/s/mb.css")
    script(src="/j/markbox.js",type="text/javascript")
    script(src="/j/xmark.js",type="text/javascript")
block content
    p 在下面输入Markdown文本，然后点击“发布”。
    .midiAc