extends layout
block head
    script(src="/j/gu.js",type="text/javascript")
    link(rel="stylesheet",href="/s/gu.css")
block czz
    | &nbsp;&nbsp;-&nbsp;&nbsp;欢迎！
block content
    p 欢迎你来到西瓜云·推吧！
    p 您将会成为第#{usercount+1}个用户！
    .dbox_kard
        button.xui-buttom.subm 提交
