extends layout
block head
    script(src="/j/gu.js",type="text/javascript")
    link(rel="stylesheet",href="/s/gu.css")
block czz
    | &nbsp;&nbsp;-&nbsp;&nbsp;欢迎！
block content
    p 欢迎你来到西瓜云·推吧！
    p 您将会成为第#{usercount+1}个用户！
    .dbox_kard
        p
            | 性别：&nbsp;
            a.xbF 男
            a.xbM 女
            span.ops 如果是外星人请手动填写您的性别
            br
            spaN.ops 对真实性不作任何要求。
            br
            input.xui-input-text.xb(placeholder="其他性别")
        button.xui-buttom.subm 提交