extends layout
block head
    script(src="/j/ru.js",type="text/javascript")
    link(rel="stylesheet",href="/s/ru.css")
block czz
    | &nbsp;&nbsp;-&nbsp;&nbsp;欢迎！
block content
    .box_vcd 正在为您创建用户，请稍候
        .dd_pgr