.mw-ui-vform .mw-secure {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAALCAQAAADsZ9STAAAAc0lEQVQIW2XIIQ8BAQAG0E+RbDaT/QPpqq6Luo0q2ERFflNk9Yp8m7+gXLH5FRT1JLvN7bUXET07taezgUhErLztrT1c2rw5ipj76P+ythEx1RhKjJVe7kqlSuNqFhPNn2WbW0U3TxbdrBy62VpGX/Fn9AUPNnhs/gsSXQAAAABJRU5ErkJggg==) no-repeat scroll left center transparent;
    background: url(//bits.wikimedia.org/static-1.24wmf19/resources/src/mediawiki.special/images/icon-lock.png?2014-08-28T18:11:40Z) no-repeat scroll left center transparent !ie;
    margin: 0 0 0 1px;
    padding: 0 0 0 11px
}

.mw-ui-container #userloginForm, .mw-ui-container #userlogin {
    border: 0;
    margin: 0;
    padding: 0
}

.mw-ui-container #languagelinks {
    margin-bottom: 2em;
    font-size: 0.8em
}


.mw-ui-vform {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 290px
}

.mw-ui-vform select, .mw-ui-vform .mw-ui-button {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    width: 100%
}

.mw-ui-vform select {
    padding: 0.35em 0.5em 0.35em 0.5em;
    vertical-align: middle
}

.mw-ui-vform > label {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.9em;
    color: #222;
    width: auto;
    margin: 0 0 0.2em;
    padding: 0
}

.mw-ui-vform > label * {
    font-weight: normal
}

.mw-ui-vform input[type="radio"] {
    display: inline;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: auto
}

.mw-ui-vform .error, .mw-ui-vform .errorbox, .mw-ui-vform .warningbox, .mw-ui-vform .successbox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.9em;
    margin: 0 0 1em 0;
    padding: 0.5em;
    word-wrap: break-word
}

.mw-ui-vform .error {
    color: #cc0000;
    border: 1px solid #fac5c5;
    background-color: #fae3e3;
    text-shadow: 0 1px #fae3e3
}

.mw-ui-vform .mw-ui-vform-div .error, .mw-ui-vform .mw-ui-vform-field .error {
    display: block;
    margin-top: 5px
}

.mw-ui-vform-div, .mw-ui-vform-field {
    display: block;
    margin: 0 0 15px;
    padding: 0;
    width: 100%
}

.mw-ui-label {
    font-size: 0.9em;
    color: #222
}

.mw-ui-label * {
    font-weight: normal
}

.mw-ui-radio-label {
    margin-bottom: 0.5em;
    cursor: pointer;
    vertical-align: bottom;
    line-height: normal;
    font-weight: normal
}

.mw-ui-radio-label > input[type="checkbox"], .mw-ui-radio-label > input[type="radio"] {
    width: auto;
    height: auto;
    margin: 0 0.1em 0 0;
    padding: 0;
    border: 1px solid #CCC;
    cursor: pointer
}

.mw-ui-flush-left {
    float: left;
    margin-left: 0;
    padding-left: 0
}

.mw-ui-flush-right {
    float: right;
    padding-right: 0;
    margin-right: 0
}

.mw-ui-center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.mw-ui-button {
    font-size: 1em;
    display: inline-block;
    padding: .5em 1em;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    *display: inline;
    zoom: 1;
    background: #FFF;
    color: #555;
    border: 1px solid #CCC;
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: background .1s ease-in-out, color .1s ease-in-out, box-shadow .1s ease-in-out;
    -moz-transition: background .1s ease-in-out, color .1s ease-in-out, box-shadow .1s ease-in-out;
    -o-transition: background .1s ease-in-out, color .1s ease-in-out, box-shadow .1s ease-in-out;
    transition: background .1s ease-in-out, color .1s ease-in-out, box-shadow .1s ease-in-out
}

.mw-ui-button:hover, .mw-ui-button:focus {
    box-shadow: 0 1px rgba(0, 0, 0, 0.1), inset 0 -3px rgba(0, 0, 0, 0.2);
    border-bottom-color: #cccccc;
    outline: none
}

.mw-ui-button:hover::-moz-focus-inner, .mw-ui-button:focus::-moz-focus-inner {
    border-color: transparent
}

.mw-ui-button:active, .mw-ui-button.mw-ui-checked {
    background: #cccccc;
    box-shadow: none
}

.mw-ui-button:disabled {
    color: #CCC
}

.mw-ui-button:disabled:hover, .mw-ui-button:disabled:active {
    background: #FFF;
    box-shadow: none
}

.mw-ui-button:disabled {
    text-shadow: none;
    cursor: default
}

.mw-ui-button.mw-ui-big {
    font-size: 1.3em
}

.mw-ui-button.mw-ui-block {
    display: block;
    width: 100%
}

.mw-ui-button.mw-ui-progressive, .mw-ui-button.mw-ui-primary {
    background: #347bff;
    color: #fff;
    border: 1px solid #347bff;
    border-left: none;
    border-right: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1)
}

.mw-ui-button.mw-ui-progressive:hover, .mw-ui-button.mw-ui-progressive:focus, .mw-ui-button.mw-ui-primary:hover, .mw-ui-button.mw-ui-primary:focus {
    box-shadow: 0 1px rgba(0, 0, 0, 0.1), inset 0 -3px rgba(0, 0, 0, 0.2);
    border-bottom-color: #2a62cc;
    outline: none
}

.mw-ui-button.mw-ui-progressive:hover::-moz-focus-inner, .mw-ui-button.mw-ui-progressive:focus::-moz-focus-inner, .mw-ui-button.mw-ui-primary:hover::-moz-focus-inner, .mw-ui-button.mw-ui-primary:focus::-moz-focus-inner {
    border-color: transparent
}

.mw-ui-button.mw-ui-progressive:active, .mw-ui-button.mw-ui-progressive.mw-ui-checked, .mw-ui-button.mw-ui-primary:active, .mw-ui-button.mw-ui-primary.mw-ui-checked {
    background: #2a62cc;
    box-shadow: none
}

.mw-ui-button.mw-ui-progressive:disabled, .mw-ui-button.mw-ui-primary:disabled {
    background: #CCC;
    border-color: #CCC
}

.mw-ui-button.mw-ui-progressive:disabled:hover, .mw-ui-button.mw-ui-progressive:disabled:active, .mw-ui-button.mw-ui-progressive:disabled.mw-ui-checked, .mw-ui-button.mw-ui-primary:disabled:hover, .mw-ui-button.mw-ui-primary:disabled:active, .mw-ui-button.mw-ui-primary:disabled.mw-ui-checked {
    box-shadow: none
}

.mw-ui-button.mw-ui-progressive.mw-ui-quiet, .mw-ui-button.mw-ui-primary.mw-ui-quiet {
    color: #555
}

.mw-ui-button.mw-ui-progressive.mw-ui-quiet:hover, .mw-ui-button.mw-ui-progressive.mw-ui-quiet:focus, .mw-ui-button.mw-ui-primary.mw-ui-quiet:hover, .mw-ui-button.mw-ui-primary.mw-ui-quiet:focus {
    color: #5d95ff
}

.mw-ui-button.mw-ui-progressive.mw-ui-quiet:active, .mw-ui-button.mw-ui-progressive.mw-ui-quiet.mw-ui-checked, .mw-ui-button.mw-ui-primary.mw-ui-quiet:active, .mw-ui-button.mw-ui-primary.mw-ui-quiet.mw-ui-checked {
    color: #2a62cc
}

.mw-ui-button.mw-ui-progressive.mw-ui-quiet:disabled, .mw-ui-button.mw-ui-primary.mw-ui-quiet:disabled {
    color: #CCC
}

.mw-ui-button.mw-ui-constructive {
    background: #00af89;
    color: #fff;
    border: 1px solid #00af89;
    border-left: none;
    border-right: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1)
}

.mw-ui-button.mw-ui-constructive:hover, .mw-ui-button.mw-ui-constructive:focus {
    box-shadow: 0 1px rgba(0, 0, 0, 0.1), inset 0 -3px rgba(0, 0, 0, 0.2);
    border-bottom-color: #008c6e;
    outline: none
}

.mw-ui-button.mw-ui-constructive:hover::-moz-focus-inner, .mw-ui-button.mw-ui-constructive:focus::-moz-focus-inner {
    border-color: transparent
}

.mw-ui-button.mw-ui-constructive:active, .mw-ui-button.mw-ui-constructive.mw-ui-checked {
    background: #008c6e;
    box-shadow: none
}

.mw-ui-button.mw-ui-constructive:disabled {
    background: #CCC;
    border-color: #CCC
}

.mw-ui-button.mw-ui-constructive:disabled:hover, .mw-ui-button.mw-ui-constructive:disabled:active, .mw-ui-button.mw-ui-constructive:disabled.mw-ui-checked {
    box-shadow: none
}

.mw-ui-button.mw-ui-constructive.mw-ui-quiet {
    color: #555
}

.mw-ui-button.mw-ui-constructive.mw-ui-quiet:hover, .mw-ui-button.mw-ui-constructive.mw-ui-quiet:focus {
    color: #33bfa1
}

.mw-ui-button.mw-ui-constructive.mw-ui-quiet:active, .mw-ui-button.mw-ui-constructive.mw-ui-quiet.mw-ui-checked {
    color: #008c6e
}

.mw-ui-button.mw-ui-constructive.mw-ui-quiet:disabled {
    color: #CCC
}

.mw-ui-button.mw-ui-destructive {
    background: #d11d13;
    color: #fff;
    border: 1px solid #d11d13;
    border-left: none;
    border-right: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1)
}

.mw-ui-button.mw-ui-destructive:hover, .mw-ui-button.mw-ui-destructive:focus {
    box-shadow: 0 1px rgba(0, 0, 0, 0.1), inset 0 -3px rgba(0, 0, 0, 0.2);
    border-bottom-color: #a7170f;
    outline: none
}

.mw-ui-button.mw-ui-destructive:hover::-moz-focus-inner, .mw-ui-button.mw-ui-destructive:focus::-moz-focus-inner {
    border-color: transparent
}

.mw-ui-button.mw-ui-destructive:active, .mw-ui-button.mw-ui-destructive.mw-ui-checked {
    background: #a7170f;
    box-shadow: none
}

.mw-ui-button.mw-ui-destructive:disabled {
    background: #CCC;
    border-color: #CCC
}

.mw-ui-button.mw-ui-destructive:disabled:hover, .mw-ui-button.mw-ui-destructive:disabled:active, .mw-ui-button.mw-ui-destructive:disabled.mw-ui-checked {
    box-shadow: none
}

.mw-ui-button.mw-ui-destructive.mw-ui-quiet {
    color: #555
}

.mw-ui-button.mw-ui-destructive.mw-ui-quiet:hover, .mw-ui-button.mw-ui-destructive.mw-ui-quiet:focus {
    color: #da4a42
}

.mw-ui-button.mw-ui-destructive.mw-ui-quiet:active, .mw-ui-button.mw-ui-destructive.mw-ui-quiet.mw-ui-checked {
    color: #a7170f
}

.mw-ui-button.mw-ui-destructive.mw-ui-quiet:disabled {
    color: #CCC
}

.mw-ui-button.mw-ui-quiet {
    background: transparent;
    border: none;
    text-shadow: none;
    color: #555
}

.mw-ui-button.mw-ui-quiet:hover, .mw-ui-button.mw-ui-quiet:focus {
    color: #777777
}

.mw-ui-button.mw-ui-quiet:active, .mw-ui-button.mw-ui-quiet.mw-ui-checked {
    color: #444444
}

.mw-ui-button.mw-ui-quiet:disabled {
    color: #CCC
}

.mw-ui-button.mw-ui-quiet:hover, .mw-ui-button.mw-ui-quiet:focus {
    box-shadow: none
}

.mw-ui-button.mw-ui-quiet:active, .mw-ui-button.mw-ui-quiet:disabled {
    background: transparent
}

a.mw-ui-button {
    text-decoration: none
}

a.mw-ui-button:hover, a.mw-ui-button:focus {
    text-decoration: none
}

.mw-ui-button-group > * {
    border-radius: 0;
    float: left
}

.mw-ui-button-group > *:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.mw-ui-button-group > *:not(:first-child) {
    border-left: none
}

.mw-ui-button-group > *:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}

.mw-ui-checkbox {
    display: inline-block;
    vertical-align: middle
}

.mw-ui-checkbox:not(#noop) {
    position: relative;
    line-height: 24px
}

.mw-ui-checkbox:not(#noop) * {
    vertical-align: middle
}

.mw-ui-checkbox:not(#noop) input[type="checkbox"] {
    opacity: 0;
    width: 24px;
    height: 24px
}

.mw-ui-checkbox:not(#noop) input[type="checkbox"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    border-radius: 2px;
    margin-right: 18px;
    width: 24px;
    height: 24px;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid grey
}

.mw-ui-checkbox:not(#noop) input[type="checkbox"]:checked + label::before {
    background-image: url(//bits.wikimedia.org/static-1.24wmf19/resources/src/mediawiki.ui/components/images/checked.png?2014-08-28T18:11:40Z);
    background-image: -webkit-linear-gradient(transparent, transparent), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48cGF0aCBkPSJNNCAxMmw1IDUgMTEtMTIiIHN0cm9rZT0iIzAwQjc4QyIgc3Ryb2tlLXdpZHRoPSIzIiBmaWxsPSJub25lIi8+PC9zdmc+);
    background-image: linear-gradient(transparent, transparent), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48cGF0aCBkPSJNNCAxMmw1IDUgMTEtMTIiIHN0cm9rZT0iIzAwQjc4QyIgc3Ryb2tlLXdpZHRoPSIzIiBmaWxsPSJub25lIi8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: center top
}

.mw-ui-checkbox:not(#noop) input[type="checkbox"]:active + label::after, .mw-ui-checkbox:not(#noop) input[type="checkbox"]:focus + label::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 22px;
    left: 1px;
    border-bottom: solid 3px lightgrey
}

.mw-ui-checkbox:not(#noop) input[type="checkbox"]:disabled + label::before {
    background-color: lightgrey
}

.mw-ui-input {
    -webkit-appearance: none;
    border: 1px solid #CCC;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: .3em .3em .3em .6em;
    display: block;
    vertical-align: middle;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s
}

.mw-ui-input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: normal
}

.mw-ui-input::-moz-placeholder {
    font-style: italic;
    font-weight: normal
}

.mw-ui-input:-moz-placeholder {
    font-style: italic;
    font-weight: normal
}

.mw-ui-input:-ms-input-placeholder {
    font-style: italic;
    font-weight: normal
}

.mw-ui-input:invalid {
    box-shadow: none
}

.mw-ui-input:focus {
    box-shadow: inset .45em 0 0 #5088f7;
    border-color: #898989;
    outline: 0
}

textarea.mw-ui-input {
    min-height: 8em
}

.mw-ui-input-inline {
    display: inline-block;
    width: auto
}

.mw-ui-input-large {
    margin-top: 0;
    margin-bottom: 0
}

.mw-ui-input-large + .mw-ui-input-large {
    margin-top: -1px
}

.mw-ui-input-large:focus {
    position: relative
}

input.mw-ui-input-large {
    font-size: 1.75em;
    font-weight: bold;
    line-height: 1.25em
}
