body {
    font-family: '微软雅黑', Tahoma, Arial;
    color: black;
    font-size: 16px;
    background-color: white;
}

.dh {
    font-family: '微软雅黑';
    position: fixed;
    z-index: 1500;
    left: 0;
    right: 0;
    top: -35px;
    height: 35px;
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 2px black;
    line-height: 35px;
    font-size: 18px;
    padding-left: 24px;
    color: white;
}

.waterbate {
    font-size: 15%;
    color: black;
    box-shadow: 0 0 2px silver;
    background-color: silver;
    margin-left: 4px;
    vertical-align: top;
    opacity: 0;
}

.dh_content {
    margin-left: 35px;
}

.dh_link {
    padding-left: 8px;
    padding-right: 8px;
    line-height: 35px;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 35px;
    display: inline-block;
    text-decoration: none;
    color: white;
}
.hidden {
    opacity: 0;
    line-height:0;
    font-size:0;
    overflow:hidden;
}
.content {
    margin: 36px 0 0 0;
    padding: 8px;
}
.hoverapa:hover {
    opacity: 0.75;
    cursor: default;
}
@font-face {
    font-family: 'iconfont';
    src: url('https://at.alicdn.com/t/font_1404440189_5189073.eot'); /* IE9*/
    src: url('https://at.alicdn.com/t/font_1404440189_5189073.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('https://at.alicdn.com/t/font_1404440189_5189073.woff') format('woff'), /* chrome、firefox */
    url('https://at.alicdn.com/t/font_1404440189_5189073.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('https://at.alicdn.com/t/font_1404440189_5189073.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family: 'iconfont';
}
*::selection{
    background-color: #8fe820;
}
.error {
    color: #990000;
    font-size: 80%;
}