body {
    font-family: '微软雅黑', Tahoma, Arial;
    color: black;
    font-size: 16px;
    background-color: white;
    word-break: break-all !important;
    background-size: cover;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.dhstyle {
    font-family: '微软雅黑';
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
    top: -35px;
    height: 35px;
}
.dh {
    opacity: 0.9;
    background-color: rgba(71, 165, 164, 0.32);
    box-shadow: 0 1px 2px rgba(34, 80, 79, 0.32);
    line-height: 35px;
    font-size: 18px;
    padding-left: 24px;
    color: rgba(0, 0, 0, 0.82);
}

.waterbate {
    font-size: 80%;
    color: rgba(255, 255, 255, 0.70);
    box-shadow: 0 0 2px rgba(54, 122, 121, 0.32);
    background-color: rgba(54, 122, 121, 0.32);
    margin-left: 4px;
    vertical-align: top;
    opacity: 0;
}

.dh_content {
    margin-left: 35px;
}

.aero {
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 1;
    padding: 0 0 0 0;
    font-size: 16px;
}

.dh_link {
    padding-left: 8px;
    padding-right: 8px;
    line-height: 35px;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 35px;
    display: inline-block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.82);
}
.hidden {
    opacity: 0;
    line-height:0;
    font-size:0;
    overflow:hidden;
}
.content {
    margin: 36px 0 0 0;
    padding: 8px;
}
.hoverapa:hover {
    opacity: 0.75;
    cursor: default;
}
@font-face {
    font-family: 'iconfont';
    src: url('https://at.alicdn.com/t/font_1408801511_6797938.eot'); /* IE9*/
    src: url('https://at.alicdn.com/t/font_1408801511_6797938.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('https://at.alicdn.com/t/font_1408801511_6797938.woff') format('woff'), /* chrome、firefox */
    url('https://at.alicdn.com/t/font_1408801511_6797938.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('https://at.alicdn.com/t/font_1408801511_6797938.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family: 'iconfont';
}
*::selection{
    background-color: #8fe820;
}
.error {
    color: #990000;
    font-size: 80%;
}
