/* S U I */

h1 {
    font-family: "微软雅黑";
    font-size: 24px;
    line-height: 120%;
    border-bottom: solid rgba(0, 0, 0, 0.7) 1px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
    color: rgba(0, 0, 0, 0.8);
}

h2 {
    font-family: "微软雅黑";
    font-size: 20px;
    line-height: 110%;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.55);
    color: rgba(0, 0, 0, 0.7);
}

.button {
    background: #900;
    color: #fff;
    border: hidden;
    line-height: 28px;
    height: 28px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    font-family: "微软雅黑";
    margin: 4px;
    padding-left: 8px;
    padding-right: 8px;
    transition: box-shadow 120ms;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    font-family: '微软雅黑';
    color: #494378;
    transition: color 120ms;
    cursor: pointer;
}

.textinp {
    font-family: '微软雅黑';
    font-size: 16px;
    background-color: #f1f1f1;
    transition: background-color 300ms, border 300ms;
    border: 1px groove #c2c2c2;
}

.textinp:focus {
    box-shadow: 0 0 2px #5a86ff, 0 0 1px #5a86ff inset;
    background-color: #ffffff;
}

/* End S U I*/